li{
	display:inline;
}

a:link, a:visited {
    width: 120px;
    color: #000000;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Verdana";
    font-size: 12px;
    font-weight: bold;
}

a:hover, a:active {
    color: #009999;
}

h1{
    font-family: "Verdana";
    font-size: 20px;
    color: #009999;
}

#navbar{
    text-align: center;
}

.carousel{
    padding-bottom: 20px;
    padding-top: 40px;
}

p{
    padding-top: 40px;
    padding-left: 130px;
    padding-right: 100px;
    padding-bottom: 40px;
    color: #000000;
    font-family: "Verdana";
    font-weight: bold;


}
    
img.collaboration {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    padding-top: 40px;
    padding-bottom: 40px;
}

#box {
    margin: auto;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    background-color: #3FA5D5;

}

#toping{
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 600px;
    height: 200px;
}

.changeBackground{
   background-color: #FF8F00 !important;

.red-cell{
    background: #F00;
}



}